body {
    width: 550px;
    margin: auto;
    padding-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(31, 144, 189);
    color: white;
}

p {
    font-size: large;
}

.main-content {
    margin-top: 25px;
    flex-grow: 1;
}

.main-content h1 {
    color: rgb(22, 254, 76);
}

.main-content p img {
    width: auto;
    height: 275px;
}

#note {
    border-top: 1px solid lightgrey;
    padding-top: 25px;
    font-size: larger;
    color: rgba(255, 255, 255, 0.857);
    margin: 25px auto;
}

a {
    font-size: larger;
    margin: auto 11px auto 0px;
    color: whitesmoke;
    text-decoration: none;
}

input {
    height: 25px;
    border: 2px grey solid;
    border-radius: 5px;
}

button {
    height: 25px;
    border-radius: 5px;
}

#weatherReport {
    margin: 25px auto;
    font-size: large;

}

/* header {
    display: inline-block;
}

footer {
    display: inline-block;
} */